@charset "UTF-8";

:root {
    --cor1: #E9E9E9;
    --cor2: #8a8a8a;
    --cor3: #D4AF37;
    --cor4: #00b2a9;
    --cor5: #003d5b;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
}

body {
    background-color: var(--cor5);
    color: var(--cor1);
    padding: 20px;
}
.title {
    text-align: center;
    margin-bottom: 30px;
}

.modo {
    display: flex;
    justify-content: center;  /* Centraliza os itens horizontalmente */
    gap: 50px;
    margin: 20px;
}

button {
    padding: 10px 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--cor3);
    background-color: var(--cor4);
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}

.escrita h2 {
    margin-bottom: 10px;
}

textarea {
    width: 90%;
    height: 300px;
    max-width: 800px;
    margin: auto;
    border: 2px, solid, var(--cor3);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: var(--cor2);
    text-transform: none;
}

.modo-texto {
    display: block;
    background-color: var(--cor1);
    color: var(--cor5);
}

.modo-codigo {
    display: none;
    font-family: "Courier New", Courier, monospace;
    background-color: var(--cor2);
    color: var(--cor3);
    border: 2px solid #dcdcdc;
}

h3 {
    margin-top: 20px;
    text-align: center;
}


/* Esconde as sublistas e parágrafos inicialmente */
ul ul, p.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Quando a classe 'visible' for adicionada, a sublista ou parágrafo se torna visível */
ul ul.visible, p.visible {
  display: block;
  opacity: 1;
}

  
ul li {
    max-width: 800px;
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 10px 10px 10px 5px;
    margin: 10px auto 10px auto;
    border: 1px, solid, var(--cor3);
    border-radius: 5px;
    font-size: 16px;
}
li {
    cursor: pointer;
    list-style: none; /* Remove o estilo de lista padrão (opcional) */
  }

ul > li > ul > li {
    background-color: var(--cor1);
    color: var(--cor4);
}

ul > li > ul > li > ul > li {
    background-color: var(--cor4);
    color: var(--cor1);
}

ul > li > ul > li > ul > li > ul > li{
    background-color: var(--cor1);
    color: var(--cor4);
}

ul > p {
    font-family: var(--fonte-padrao);
    text-transform: none;
    color: black;
    margin: 20px;
}